<h1>Username's Merchlog</h1>

<div class="inventory_home">
	<h2>Merch Stats</h2>
	<ul>
		<li>Merch Count:</li>
		<li>Merch Estimated Worth:</li>
		<li>Most Valuable Merch:</li>
		<li>MerchAlerts:</li>
	</ul>

	<h4>Merch Categories</h4>
	<ul>
		<li>Pull from category model</li>
	</ul>
</div>

<div class="navigation">
	<h6>My Merch</h6>
	<ul>
		<li>Summary</li>
		<li>Manuals</li>
		<li>Warranties</li>
	</ul>

	<h6>Categories</h6>
	<ul>
		<li>Fed from category model</li>
		<li>Sub categories</li>
	</ul>
</div>

<div class="inventory_list">
	
</div>