<h1>Username's Merchlog</h1>

<div class="jumbotron">
	<h1><%= current_user.first_name %> Merch Stats</h1>
		<p>...</p>
		<ul>
			<li>Merch Count: <%= current_user.last_name %> </li>
			<li>Merch Estimated Worth:</li>
			<li>Most Valuable Merch:</li>
			<li>MerchAlerts:</li>
		</ul>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>



<!-- <div class="navigation">
	<h6>My Merch</h6>
	<ul>
		<li>Summary</li>
		<li>Manuals</li>
		<li>Warranties</li>
	</ul>

	<h6>Categories</h6>
	<ul>
		<li>Fed from category model</li>
		<li>Sub categories</li>
	</ul>
</div> -->

<div class="inventory_list">
	
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="panel-body">
    Electronics
  </div>
  <div class="panel-body">
    TVs
  </div>
</div>


<ul>
<% @inventories.each do |p| %>
	<li>
		<%= link_to "more info", inventory_products_path(p.id) %>
	</li>
<% end %>
</ul>



