<h1>Asset Summary</h1>

<img src="" alt="">

<ul>
	<% @users.each do |u|%>
	<li><strong>Estimated Total Merch Worth <%= u.first_name %></li>
	<li>Total Merch cost (price  paid):</li>
	<li>Estimated Most Valuable Merch:</li>
	<li>Most Expensive piece of Merch:</li>
	<li>Merch under warranty:</li>
	<li>Merch not under warranty:</li>
	<li>Soonest Merch warranty expiration:</li>
	<li>Merch warranty offers:</li>
	<% end %>
</ul>

<%= link_to "Edit Profile", edit_user_path(@user) %>