<h1>Merch info</h1>

<img src="" alt="">

<h2>Product name</h2>
<h3>Make</h3>

<h4>Product Specs:</h4>
<p>Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec error quis pharetra. Eros metus quam augue suspendisse, metus rutrum risus erat in.  In ultrices quo ut lectus, etiam vestibulum urna a est, pretium luctus euismod n</p>

<a href="">Warranty Info</a>
<a href="">User Manual</a>

<%= link_to "Back to the list!", inventories_path %>
